/* Application-wide Styles */
@import './_variables.scss';
@import '~normalize.css/normalize.css';

h1 {
  color: $title-color;
  font-family: $base-font;
  margin: 0;
  padding: 0.2em;
  font-size: 250%;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 18px;
}
h2, h3 {
  color: $dark-grey;
  font-family: $base-font;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: $middle-grey;
  font-family: $base-font;
}
a {
  color: $link-color;
  font-family: $base-font;
  text-decoration: none;
}

* {
  font-family: $base-font;
}